.container {
  padding: 10px;
  border: solid #0b868f 1px;
  border-radius: 10px;
  color: gray;
  margin: 0px;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label {
  text-align: center;
  margin-bottom: 4px;
  font-weight: normal;
}
.value {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: black;
}
