header {
  flex-direction: column;
  h2 {
    background: #0b868f;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  .kpis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}
